h1{
    color: blueviolet;
    text-shadow: 5px 5px 8px darkslateblue; 
}

#photo{
    border: 40px solid antiquewhite;
    border-width: 20px 15px 85px 15px;
    height: 250px;
    width: 375px;
    margin: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

img{
    border-radius: 8px;
    height: 250px; 
}

.layout{
    display: inline-block;
}

.photoDesc{
    text-align: center;
}
