h1{
    color: blueviolet;
}

#photo{
    border: 40px solid antiquewhite;
    border-width: 20px 15px 85px 15px;
    height: 250px;
    width: 375px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

img{
    border-radius: 8px;
}